elev_interp.py
fno1d_model_weights.pth
staresdm.py
test.py
noise2.py
fno_trial.py
fno.py
fig.png
benchmark
runs
down_cds.py
elev_gfdlESM4.nc
models
cmip6
eda.ipynb
models_ibicusxs
depricate
elevation_data
runs_sh
models_ibicus
ibicus_tests
