elev_interp.py
fno1d_model_weights.pth
staresdm.py
test.py
noise2.py
fno_trial.py
fno.py
fig.png
benchmark
runs
runs_old
down_cds.py
elev_gfdlESM4.nc
models
cmip6
eda.ipynb
models_ibicusxs
depricate
elevation_data
runs_sh
models_ibicus
ibicus_exps
jobs_old
jobs
cmip6_exp_depricate.py
kas7897
temp_analysis.ipynb
diffDownscale.code-workspace
*.err
*.out
*.sbatch
temp_folder.py
jobs_revised
jobs_revised_pca
runs_revised
runs_LSTM
plots
analysis_ensemble1.ipynb
analysis_ensemble2.ipynb
temp*
jobs_CNN
runs_CNN
outputs
auto_select_demo
demo_best.json
demo_results.csv
*.png
test
analysis_ensemble_test.ipynb
outputs_AdamW
runs_revised_AdamW
cmip6_exp.py
*.code-workspace
slurm