elev_interp.py
fno1d_model_weights.pth
staresdm.py
test.py
noise2.py
fno_trial.py
fno.py
fig.png
benchmark
runs
runs_old
down_cds.py
elev_gfdlESM4.nc
models
cmip6
eda.ipynb
models_ibicusxs
depricate
elevation_data
runs_sh
models_ibicus
ibicus_exps
jobs_old
jobs
cmip6_exp_depricate.py
kas7897
temp_analysis.ipynb
diffDownscale.code-workspace
*.err
*.out
*.sbatch
